## 1. Load the data

In [1]:
# imports:
import pandas as pd
import matplotlib.pyplot as plt

INPUT_CSV = "/home/sramkova/diploma_thesis_data/neighbourhood_both_days_10_07_2021.csv"

raw_data = pd.read_csv(INPUT_CSV)

# check that all columns are correctly loaded
raw_data.head()

,originated_ip,connection.uid,connection.conn_state,connection.duration,connection.orig_bytes,connection.orig_ip_bytes,connection.orig_p,connection.orig_pkts,connection.proto,connection.resp_bytes,...,resp_resp_p_53_count,resp_resp_p_80_count,resp_resp_p_123_count,resp_resp_p_443_count,resp_resp_p_3389_count,resp_resp_p_well_known_count,resp_resp_p_reg_count,resp_resp_p_dyn_count,attacker_label,attack_label
0,9.66.44.14,CRfxSl4AEXY9CsM8gb,SF,0.023327,1584,1836,55265,6,tcp,300,...,0,55,0,9,0,0,0,0,No,Normal
1,9.66.44.14,CCb4lm48TjrHpHP7D2,SF,13.902492,138850,155382,49730,68,tcp,6475,...,0,0,0,8,0,0,0,0,No,Normal
2,9.66.44.14,CyCX3F3Eznooh7CeV9,RSTO,15.076463,2631,3467,49189,20,tcp,27080,...,0,4,0,13,0,0,0,0,No,Normal
3,9.66.44.14,Co9MyICh23vPhFzpa,RSTO,15.077788,376,668,49188,7,tcp,5866,...,0,4,0,13,0,0,0,0,No,Normal
4,9.66.44.14,CubMap4yOQszwA2aEl,RSTO,7.623704,6491,10355,49221,84,tcp,161686,...,0,0,0,21,0,0,0,0,No,Normal

In [2]:
raw_data = raw_data[['originated_ip', 
                     'responded_ip', 
                     'connection.uid', 
                     'connection.ts', 
                     'connection.resp_pkts', 
                     'connection.resp_ip_bytes', 
                     'connection.orig_p', 
                     'connection.duration',
                     'connection.resp_bytes',
                     'connection.orig_pkts',
                     'connection.proto',
                     'connection.service', 
                     'connection.orig_bytes',
                     'connection.conn_state',
                     'connection.resp_p',
                     'connection.orig_ip_bytes']]
raw_data.head()

,originated_ip,responded_ip,connection.uid,connection.ts,connection.resp_pkts,connection.resp_ip_bytes,connection.orig_p,connection.duration,connection.resp_bytes,connection.orig_pkts,connection.proto,connection.service,connection.orig_bytes,connection.conn_state,connection.resp_p,connection.orig_ip_bytes
0,9.66.44.14,104.103.90.39,CRfxSl4AEXY9CsM8gb,2019-03-19T16:00:17.593853Z,6,552,55265,0.023327,300,6,tcp,http,1584,SF,80,1836
1,9.66.44.14,20.45.4.77,CCb4lm48TjrHpHP7D2,2019-03-19T15:43:58.762083Z,84,10395,49730,13.902492,6475,68,tcp,ssl,138850,SF,443,155382
2,9.66.44.14,204.79.197.203,CyCX3F3Eznooh7CeV9,2019-03-19T15:54:07.955785Z,14,27652,49189,15.076463,27080,20,tcp,ssl,2631,RSTO,443,3467
3,9.66.44.14,204.79.197.203,Co9MyICh23vPhFzpa,2019-03-19T15:54:07.95432Z,5,6078,49188,15.077788,5866,7,tcp,ssl,376,RSTO,443,668
4,9.66.44.14,184.51.8.176,CubMap4yOQszwA2aEl,2019-03-19T15:54:15.410512Z,71,186618,49221,7.623704,161686,84,tcp,ssl,6491,RSTO,443,10355

# 2. Get to know the data

### 2.0 Basic statistics

In [3]:
# types and num of non-null values in columns
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472345 entries, 0 to 472344
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   originated_ip             472345 non-null  object
 1   responded_ip              472345 non-null  object
 2   connection.uid            472345 non-null  object
 3   connection.ts             472345 non-null  object
 4   connection.resp_pkts      472345 non-null  int64
 5   connection.resp_ip_bytes  472345 non-null  int64
 6   connection.orig_p         472345 non-null  int64
 7   connection.duration       472345 non-null  float64
 8   connection.resp_bytes     472345 non-null  int64
 9   connection.orig_pkts      472345 non-null  int64
 10  connection.proto          472345 non-null  object
 11  connection.service        472345 non-null  object
 12  connection.orig_bytes     472345 non-null  int64
 13  connection.conn_state     472345 non-null  object
 14  connection.resp_p         472345 non-null  int64
 15  connection.orig_ip_bytes  472345 non-null  int64
dtypes: float64(1), int64(8), object(7)
memory usage: 57.7+ MB

In [4]:
# simple statistics of numerical attributes: 
raw_data.describe()

,connection.resp_pkts,connection.resp_ip_bytes,connection.orig_p,connection.duration,connection.resp_bytes,connection.orig_pkts,connection.orig_bytes,connection.resp_p,connection.orig_ip_bytes
count,472345.000000,4.723450e+05,472345.000000,472345.000000,4.723450e+05,472345.000000,4.723450e+05,472345.000000,4.723450e+05
mean,16.523109,4.141463e+04,41580.853982,12.989186,5.257307e+04,23.539294,4.430956e+04,2795.068213,2.272216e+03
std,496.531368,1.646461e+06,19028.068474,169.497371,2.166400e+06,802.812056,7.887787e+06,8330.279635,1.181989e+05
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,0.000000,0.000000e+00,35165.000000,0.000000,0.000000e+00,1.000000,0.000000e+00,53.000000,4.400000e+01
50%,1.000000,8.400000e+01,48136.000000,0.006710,4.800000e+01,1.000000,4.200000e+01,443.000000,7.600000e+01
75%,4.000000,7.000000e+02,55619.000000,0.308995,5.310000e+02,6.000000,1.950000e+02,1080.000000,5.260000e+02
max,101731.000000,2.506347e+08,65534.000000,26718.986511,3.102849e+08,176170.000000,1.981718e+09,65389.000000,4.545502e+07

In [5]:
# source: https://www.geeksforgeeks.org/python-pandas-dataframe-describe-method/

# remove null values to avoid errors  
nonnull_data = raw_data.dropna()  
  
# percentile list 
perc =[.20, .40, .60, .80] 
  
# list of dtypes to include 
include =['object', 'float', 'int'] 
  
# calling describe method 
nonnull_data.describe(percentiles = perc, include = include)

,originated_ip,responded_ip,connection.uid,connection.ts,connection.resp_pkts,connection.resp_ip_bytes,connection.orig_p,connection.duration,connection.resp_bytes,connection.orig_pkts,connection.proto,connection.service,connection.orig_bytes,connection.conn_state,connection.resp_p,connection.orig_ip_bytes
count,472345,472345,472345,472345,472345.000000,4.723450e+05,472345.000000,472345.000000,4.723450e+05,472345.000000,472345,472345,4.723450e+05,472345,472345.000000,4.723450e+05
unique,275,2678,472345,472345,NaN,NaN,NaN,NaN,NaN,NaN,3,14,NaN,13,NaN,NaN
top,212.96.119.83,4.122.55.3,Cpq2QT1TgyOVit3ZZ7,2019-03-19T15:29:16.177238Z,NaN,NaN,NaN,NaN,NaN,NaN,tcp,none,NaN,SF,NaN,NaN
freq,28331,65859,1,1,NaN,NaN,NaN,NaN,NaN,NaN,319216,223400,NaN,191580,NaN,NaN
mean,NaN,NaN,NaN,NaN,16.523109,4.141463e+04,41580.853982,12.989186,5.257307e+04,23.539294,NaN,NaN,4.430956e+04,NaN,2795.068213,2.272216e+03
std,NaN,NaN,NaN,NaN,496.531368,1.646461e+06,19028.068474,169.497371,2.166400e+06,802.812056,NaN,NaN,7.887787e+06,NaN,8330.279635,1.181989e+05
min,NaN,NaN,NaN,NaN,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,NaN,NaN,0.000000e+00,NaN,0.000000,0.000000e+00
20%,NaN,NaN,NaN,NaN,0.000000,0.000000e+00,33527.000000,0.000000,0.000000e+00,1.000000,NaN,NaN,0.000000e+00,NaN,53.000000,4.400000e+01
40%,NaN,NaN,NaN,NaN,1.000000,7.300000e+01,42500.000000,0.003680,0.000000e+00,1.000000,NaN,NaN,2.200000e+01,NaN,80.000000,6.900000e+01
50%,NaN,NaN,NaN,NaN,1.000000,8.400000e+01,48136.000000,0.006710,4.800000e+01,1.000000,NaN,NaN,4.200000e+01,NaN,443.000000,7.600000e+01
60%,NaN,NaN,NaN,NaN,1.000000,1.640000e+02,50944.000000,0.019900,8.400000e+01,1.000000,NaN,NaN,5.000000e+01,NaN,443.000000,8.400000e+01
80%,NaN,NaN,NaN,NaN,6.000000,2.191200e+03,57028.000000,0.661689,1.548000e+03,9.000000,NaN,NaN,3.810000e+02,NaN,2099.000000,1.039000e+03
max,NaN,NaN,NaN,NaN,101731.000000,2.506347e+08,65534.000000,26718.986511,3.102849e+08,176170.000000,NaN,NaN,1.981718e+09,NaN,65389.000000,4.545502e+07

### 2.1 Show distinct counts

In [6]:
distinct_counter = raw_data.apply(lambda x: len(x.unique()))
distinct_counter

originated_ip                  275
responded_ip                  2678
connection.uid              472345
connection.ts               472345
connection.resp_pkts          1245
connection.resp_ip_bytes     24985
connection.orig_p            49492
connection.duration         187754
connection.resp_bytes        12907
connection.orig_pkts          1397
connection.proto                 3
connection.service              14
connection.orig_bytes         7401
connection.conn_state           13
connection.resp_p             1326
connection.orig_ip_bytes     12720
dtype: int64

### 2.2 Visualize frequencies

#### Get Frequency Counts of Categorical Columns: 

- connection.proto
- connection.service
- connection.conn_state

(https://cmdlinetips.com/2018/02/how-to-get-frequency-counts-of-a-column-in-pandas-dataframe/)

In [7]:
raw_data['connection.proto'].value_counts()

tcp     319216
udp     125207
icmp     27922
Name: connection.proto, dtype: int64

In [8]:
raw_data['connection.service'].value_counts(dropna=False) # display null values as well

none        223400
dns          93172
ssl          90425
http         29097
ntp          28421
ssh           7344
dhcp           372
krb_tcp         42
dce_rpc         38
smtp            14
imap            11
ssl,imap         5
socks            3
pop3             1
Name: connection.service, dtype: int64

In [9]:
# plt.rcParams["figure.figsize"] = (20,3)
# fig, ax = plt.subplots()
# raw_data['connection.service'].value_counts().plot(ax=ax, kind='bar')
# graph visualization skipped (useless here)

In [10]:
raw_data['connection.conn_state'].value_counts()

SF        191580
S0        171351
RSTO       45493
OTH        31726
RSTR       20631
S1          3031
SHR         2735
S3          2626
S2          1873
SH           437
RSTRH        412
REJ          315
RSTOS0       135
Name: connection.conn_state, dtype: int64

#### Get Frequency Counts of Non-categorical Columns: 

- originated_ip
- responded_ip
- connection.duration
- connection.orig_pkts
- connection.orig_ip_bytes
- connection.resp_p
- connection.orig_bytes
- connection.resp_bytes
- connection.resp_ip_bytes
- connection.orig_p
- connection.resp_pkts

In [11]:
raw_data['originated_ip'].value_counts()

212.96.119.83      28331
80.93.182.183      27736
4.122.55.221       26417
5.23.147.206       24031
111.66.58.19       21768
                   ...
195.113.235.109        1
74.125.140.188         1
108.170.238.161        1
9.66.3.1               1
195.113.235.99         1
Name: originated_ip, Length: 275, dtype: int64

In [12]:
# or print relative frequencies of unique values:
# (sometimes percentage is a better criterion then the count)

raw_data['originated_ip'].value_counts(normalize=True)

212.96.119.83      0.059979
80.93.182.183      0.058720
4.122.55.221       0.055927
5.23.147.206       0.050876
111.66.58.19       0.046085
                     ...
195.113.235.109    0.000002
74.125.140.188     0.000002
108.170.238.161    0.000002
9.66.3.1           0.000002
195.113.235.99     0.000002
Name: originated_ip, Length: 275, dtype: float64

In [13]:
raw_data['responded_ip'].value_counts()

4.122.55.3         65859
4.122.55.2         45695
9.66.22.14         27322
9.66.22.12         24571
9.66.22.13         22238
                   ...
151.101.128.223        1
8.248.107.254          1
140.211.169.206        1
5.62.48.204            1
193.108.91.64          1
Name: responded_ip, Length: 2678, dtype: int64

In [44]:
raw_data['connection.duration'].value_counts()

0.000000      160583
0.000015          57
0.000016          52
0.000014          42
0.003855          38
               ...
0.256798           1
4.210479           1
30.468764          1
122.062467         1
2.800726           1
Name: connection.duration, Length: 187754, dtype: int64

In [ ]:
pd.set_option('display.max_rows', 30)

In [41]:
raw_data['connection.duration'].value_counts().nlargest(100)

0.000000    160583
0.000015        57
0.000016        52
0.000014        42
0.003855        38
0.004240        35
0.004077        35
0.004001        34
0.004270        34
0.003817        34
0.003716        34
0.004076        33
0.003906        33
0.003975        33
0.004107        32
0.004360        32
0.003814        32
0.003851        32
0.003729        32
0.004353        32
0.004004        32
0.003981        31
0.004088        31
0.004177        31
0.000005        31
0.003921        31
0.003696        31
0.000013        31
0.004047        31
0.003937        31
0.003880        31
0.004132        31
0.003945        30
0.004089        30
0.004294        30
0.004096        30
0.003895        30
0.003991        30
0.003877        30
0.003986        30
0.003640        29
0.003629        29
0.004242        29
0.004263        29
0.004163        29
0.004291        29
0.003872        29
0.003724        29
0.003967        29
0.003701        29
0.004173        29
0.004018        29
0.004191        29
0.003507        29
0.004182        29
0.003983        29
0.003944        29
0.004080        29
0.003567        29
0.004105        29
0.004210        28
0.004893        28
0.004066        28
0.004354        28
0.004479        28
0.003766        28
0.004110        28
0.003753        28
0.003920        28
0.004157        28
0.003882        28
0.004667        28
0.004392        28
0.003969        28
0.003824        28
0.004302        28
0.004484        28
0.004010        28
0.003887        28
0.004236        28
0.003639        28
0.003863        28
0.004261        28
0.003805        28
0.003797        28
0.004118        27
0.004239        27
0.004322        27
0.004480        27
0.003987        27
0.004245        27
0.003938        27
0.006897        27
0.003769        27
0.003619        27
0.007120        27
0.003869        27
0.003878        27
0.003965        27
0.003602        27
Name: connection.duration, dtype: int64

In [26]:
# raw_data['connection.orig_pkts'].value_counts()
raw_data['connection.orig_pkts'].value_counts().nlargest(40)

1     292723
3      18769
5      17704
2      15780
6      11005
10     10470
9       6699
11      6213
12      5963
4       5697
13      5401
17      4636
8       4580
14      4290
7       3478
16      3410
15      3109
0       2896
18      2891
19      2850
20      2112
21      1902
22      1670
23      1575
24      1530
25      1395
26      1174
27      1018
28       993
39       935
38       926
43       869
46       846
44       829
36       826
45       816
37       813
40       804
29       802
47       797
Name: connection.orig_pkts, dtype: int64

In [27]:
# raw_data['connection.orig_ip_bytes'].value_counts()
raw_data['connection.orig_ip_bytes'].value_counts().nlargest(40)

44      130918
84       35825
76       29662
56       23413
60       13453
73        8299
186       7180
526       6254
359       5413
70        4224
80        3888
180       3791
68        3475
75        3005
0         2896
40        2864
104       2491
77        2319
78        2213
384       2206
381       2133
275       2097
272       2068
82        1983
83        1924
81        1912
2386      1838
69        1837
52        1809
284       1716
287       1697
79        1594
238       1583
1397      1570
67        1558
74        1546
72        1523
290       1482
71        1432
1333      1338
Name: connection.orig_ip_bytes, dtype: int64

In [30]:
# raw_data['connection.resp_p'].value_counts()
raw_data['connection.resp_p'].value_counts()

53       95339
443      84623
80       47815
123      28421
0        26116
         ...
53136        1
30392        1
49521        1
57143        1
33501        1
Name: connection.resp_p, Length: 1326, dtype: int64

In [31]:
raw_data['connection.resp_p'].value_counts().nlargest(40)

53      95339
443     84623
80      47815
123     28421
0       26116
        ...
88        149
135       149
464       148
4380      148
9001      146
Name: connection.resp_p, Length: 40, dtype: int64

Categories will be: [**TODO**?]

- 21
- 22
- 53
- 80
- 123
- 443
- 3389
- 0 - 1023 *other well known ports*
- 1024 - 49151 *other registered*
- 49152 - 65535 *other dynamic*

Or two types: 

1.
- 21
- 22
- 53
- 80
- 123
- 443
- 3389
- other

2.
- 0 - 1023 *other well known ports*
- 1024 - 49151 *other registered*
- 49152 - 65535 *other dynamic*

In [33]:
# raw_data['connection.orig_bytes'].value_counts()
raw_data['connection.orig_bytes'].value_counts().nlargest(40)

0       186321
48       27847
56       25943
28       22780
22       10671
45        8020
206       7238
195       6122
1494      5570
60        5533
63        5204
387       4648
600       4634
381       4621
603       4604
378       4176
42        4126
397       4073
881       2923
817       2863
47        2768
116       2355
113       2288
52        2255
49        2236
50        2134
54        1932
40        1904
55        1867
53        1845
44        1510
39        1500
517       1491
46        1485
865       1458
43        1388
95        1379
41        1190
58        1174
12        1113
Name: connection.orig_bytes, dtype: int64

In [34]:
# raw_data['connection.resp_bytes'].value_counts()
raw_data['connection.resp_bytes'].value_counts().nlargest(40)

0         207456
48         25825
56         25001
77         14407
342         7902
2448        7238
1548        7073
2149        6318
45          5662
568         4692
100958      4607
559         4546
100774      4440
100884      4072
32291       3194
32091       3160
32188       2937
5040        2669
531         2365
522         2319
7803        1738
91          1147
12          1108
300         1106
396         1096
393         1052
375         1024
490          977
158          944
4436         933
463          926
168          829
87           825
1733         786
505          780
391          726
382          690
437          637
32150        634
31950        633
Name: connection.resp_bytes, dtype: int64

In [35]:
# raw_data['connection.resp_ip_bytes'].value_counts()
raw_data['connection.resp_ip_bytes'].value_counts().nlargest(40)

0       175101
76       25834
84       25042
105      14817
164      12557
44        8989
370       8155
73        5803
2664      4706
152       4454
3509      2466
700       2444
691       2334
799       2192
790       2120
1308      1956
1290      1939
3457      1691
2716      1623
112       1526
40        1453
1972      1187
119       1186
424       1128
421       1079
403       1075
2024      1047
186        968
491        960
488        936
115        853
1920       846
419        749
410        731
465        687
92         680
617        680
138        640
409        638
2076       600
Name: connection.resp_ip_bytes, dtype: int64

In [38]:
raw_data['connection.orig_p'].value_counts()

123      28244
8        25927
35164     3006
35165     3004
45311     3000
         ...
25247        1
6699         1
37595        1
31271        1
31075        1
Name: connection.orig_p, Length: 49492, dtype: int64

In [27]:
# raw_data['connection.orig_p'].value_counts().nlargest(40)

Categories will be: [**TODO**?]

- 0 - 1023 *other well known ports*
- 1024 - 49151 *other registered*, 49152 - 65535 *other dynamic*

In [36]:
# raw_data['connection.resp_pkts'].value_counts()
raw_data['connection.resp_pkts'].value_counts().nlargest(40)

0     175101
1     147585
3      23044
4      13154
5      11382
7       8114
8       7924
6       7310
9       6804
10      5718
2       4450
11      4012
26      3499
13      3377
25      3318
15      3209
17      3198
18      3136
12      3092
14      3038
16      2953
19      2648
20      2226
24      2019
21      1606
23      1431
22      1403
27      1099
28       920
29       862
30       857
31       851
32       781
33       648
34       621
35       552
36       492
37       461
38       370
39       274
Name: connection.resp_pkts, dtype: int64

Application data: 

1:
- connection 142479
- file 70158
- files 70158
- http 14744
- kerberos 18
- notice 394
- ssh 17
- ssl 29641
- x509 45031
- (159985)

2: 
- connection 330486
- file 91286
- files 91286
- http 15691
- kerberos 24
- notice 419
- ssh 18655
- ssl 42949
- x509 42503
- (211527)